.about-container {
    width: 100%;
    display: flex;
}

.about-img {
    width: 30%;
    border-radius: 10px;
    margin: 20px;
    margin-left: 40px;
}

.about-text-div {
    padding-left: 20px;
}

.marroon-divider {
    width: 250px;
    height: 2px;
    background-color: #8d0f0f;
}

.about-title {
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
}

.about-text {
    padding-right: 40px;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}